* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    @include textStyleWithoutColor($fs-em-3, $fw-400, $lh-6);
    font-style: normal;
    color: $color-grey-1;
}

ul,
li {
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

li {
    padding: $pd-2 - 2;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 1200px;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

.qty__box {
    @include styleFlexDisplay(center, left);
    a {
        display: inline-block;
        width: 2em;
        padding-top: 9px;
        margin: 0;
        border: 1px solid rgba(0, 0, 0, 0.09);

        font-size: $fs-6;
        transition: all 0.3s ease;

        &:hover {
            color: $color-green-2;
        }
    }

    input {
        width: 2.5em;
        display: inline-block;
        padding: 8px 0;
        border-color: rgba(0, 0, 0, 0.09);

        @include textStyle(
            $color-dark-1,
            $fs-rem-1 - 0.025,
            $fw-400
        );
        font-family: "Poppins", sans-serif;
        text-align: center;
        line-height: 1.42857;
    }
}