@mixin textStyle($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin textStyleWithoutColor($fs, $fw, $lh) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin styleFormSearch($bgc, $bd, $py, $px) {
    background-color: $bgc;
    border: $bd;
    padding: $py $px;
}

@mixin styleFlexDisplay($jc, $align) {
    display: flex;
    justify-content: $jc;
    align-items: $align;
}
