//Color
$color-grey-1: #777777;
$color-grey-2: #a8a8a8;
$color-grey-3: #eeeeee;
$color-dark-1: #222529;
$color-dark-2: #282d3b;
$color-dark-3: #555555;
$color-dark-4: #313131;
$color-dark-5: #444444;
$color-dark-6: #696969;
$color-dark-7: #333;
$color-white-1: #ffffff;
$color-white-2: #f4f4f4;
$color-black-1: #000000;
$color-orange: #ff7272;
$color-green-1: #b3da7e;
$color-green-2: #7aa93c;
$color-green-3: #0cc485;
$color-fb-hover: #3b5a9a;
$color-tw-hover: #1aa9e1;
$color-insta-hover: #7c4a3a;
$color-linkedin-hover: #0073b2;
$color-google-hover: #dd4b39;

//font-size
$fs-em-1: 0.7857em;
$fs-em-2: 0.9em;
$fs-em-3: 1em;
$fs-em-4: 1.1875em;
$fs-em-5: 1.2857em;
$fs-em-6: 1.1429em;
$fs-em-7: 2.5em;
$fs-em-8: 5.875em;
$fs-em-9: 2.125em;
$fs-rem-0: 0.75rem;
$fs-rem-1: 0.875rem;
$fs-rem-2: 0.9375rem;
$fs-rem-3: 1rem;
$fs-rem-4: 1.125rem;
$fs-rem-5: 1.875rem;
$fs-0: 10px;
$fs-1: 11px;
$fs-2: 12px;
$fs-3: 13px;
$fs-4: 14px;
$fs-6: 15px;
$fs-7: 18px;
$fs-8: 27px;
$fs-9: 29px;

//line-height
$lh-0: 19px;
$lh-1: 29px;
$lh-2: 34px;
$lh-3: 1;
$lh-4: 1.2;
$lh-5: 1.35;
$lh-6: 1.4;
$lh-em-1: 1em;

//letter-spacing
$ls-1: -0.01em;
$ls-2: 0.025em;
$ls-3: -0.12px;

//padding
$pd-1: 10px;
$pd-2: 15px;
$px-py-1: 0px 13px;
$px-py-2: 0px 10px;
$px-py-3: 16px 0px;
$px-py-4: 20px 0px;
$px-py-5: 10px 0px;
$px-py-6: 4px 8px;
$px-py-7: 8px 0px;
$px-py-8: 0px 30px;
$px-py-9: 10px 15px 5px;
$px-py-btn: 16.5px 45px;

//margin
$mg-1: 1.25rem;
$mg-2: 0.25rem;
$mg-3: 0.45rem;
$mg-4: 2px;
$mg-5: 3px;
$mg-6: 4px;
$mg-7: 5px;
$mg-8: 8px;
$mg-9: 10px;
$mg-10: 15px;
$mg-11: 16px;
$mg-12: 20px;
$mg-13: 31px;

//font-weight
$fw-400: 400;
$fw-600: 600;
